<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TeqTank.Services.MakoRunnerConsolidated.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=teqtankstorage;AccountKey=jTmHqqeuV9PGppatkxmUPw3qzDPYcAMLflBa0kHFAakHhvWs7ED0DZ+34PbM/43zcKh6u1Rfr4lrPrawg1kpug==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=teqtankstorage;AccountKey=jTmHqqeuV9PGppatkxmUPw3qzDPYcAMLflBa0kHFAakHhvWs7ED0DZ+34PbM/43zcKh6u1Rfr4lrPrawg1kpug==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CompanyId" value="11" />
    <add key="AzureWebJobsEnv" value="Development" />
    <add key="SendGridKey" value="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" />
    <add key="CompanyId7" value="ew0KCSJDb21wYW55SWQiIDogIjciLA0KCSJDb21wYW55TmFtZSIgOiAiQ2VydWxlIiwNCgkiQ29tcGFueUtleSIgOiAiQ2VydWxlIiwNCgkiVXNlcm5hbWUiIDogIkNlcnVsZV9NYWtvUnVubmVyX0NDQ0Y4MUM4LTAwNkMtNDU1RC1CNUE0LUM5OERENjEiLA0KCSJQd2QiIDogIldqOWFXMDJSSlliV1RjN00wQW9tdzV1OEJ1cktXMFBPOEk2T1YxUE5LcWYyM0hGekhzUGw1UT09IiwNCgkiQ3J5cHRLZXkiIDogIng5RHUvdGNCV1RnUWZHbkREWWtnM3dIT2toSURkTlMvVjVHVU9CVEw4RnM9IiwNCgkiQXV0aEtleSIgOiAiMHRSYk1EZW8rZERZZnZOaDF0V3BIUkJ4T1BHbm5HK1dJNVVUOHh4amxSND0iDQp9" />
    <add key="CompanyId1" value="ew0KCSJDb21wYW55SWQiIDogIjEiLA0KCSJDb21wYW55TmFtZSIgOiAiRGV2ZWxvcG1lbnQiLA0KCSJDb21wYW55S2V5IiA6ICJERVYiLA0KCSJVc2VybmFtZSIgOiAiRGV2X01ha29SdW5uZXJfNDY5RDZDM0EtQTkxNy00NkU0LThENUEtNEQyOTIxNDVCRiIsDQoJIlB3ZCIgOiAiQG5ncjNTbXVyZiIsDQoJIkNyeXB0S2V5IiA6ICJBV1Z2amc5QVdMdDhlRVMyak12T2FITTZ6cTRoZWMvM1RzR0w2RUptR3ZvPSIsDQoJIkF1dGhLZXkiIDogImFNMEozZEU5UTNLNmNuNUo5U0kvY0loL3lBN2IxUk5pb3h2ZDhXVHdRWmc9Ig0KfQ==" />
    <add key="CompanyId3" value="ew0KCSJDb21wYW55SWQiIDogIjMiLA0KCSJDb21wYW55TmFtZSIgOiAiUGVyc29uYWwgVHJhaW5lciBGb29kcyIsDQoJIkNvbXBhbnlLZXkiIDogIlBURiIsDQoJIlVzZXJuYW1lIiA6ICJQZXJzb25hbFRyYWluZXJGb29kc19NYWtvUnVubmVyXzM5QTkzQTY5LTk2MkYtNEE1IiwNCgkiUHdkIiA6ICJAbmdyM1NtdXJmIiwNCgkiQ3J5cHRLZXkiIDogImR6Q2I3Q25zOG9OcmFlVWFlSG55OHdNekw1SnVOMVlQOHpSRFcyNnlxM1k9IiwNCgkiQXV0aEtleSIgOiAiZitCN3psc05jQVQzTi9XWUpiWVZyaXA5TmdpNzlKbWlqUGpXOVVESVd3OD0iDQp9" />
    <add key="CompanyId9" value="ew0KICAiQ29tcGFueUlkIjogOSwNCiAgIkNvbXBhbnlOYW1lIjogIlNlYWNyZXQiLA0KICAiQ29tcGFueUtleSI6ICJTZWEiLA0KICAiVXNlcm5hbWUiOiAiU2VhY3JldF9Db21tUnVubmVyXzYyNjcxZDM2LTBhZTEtNDcwMi04ODI5LWUyZDQ2OTAiLA0KICAiUHdkIjogIjBMSWhvaUF6NDRoRGNZOEM0dGQreWFGZC9FeGVudVRVRkZFOG51Y3Y3Z2N5S0JKSG11Qnhhdz09IiwNCiAgIkNyeXB0S2V5IjogIjQrRnkyMDN6R2xiMy8zRXNaN0pFUW1xb0UxeTIwMnV6TEFPaUZYTlIvK0E9IiwNCiAgIkF1dGhLZXkiOiAib0wxcDU0eVBRTmphU2xOZVE2ZHV2Tk9pejlSanduSVVGeldYU0dKWXB6QT0iDQp9" />
    <add key="CompanyId5" value="ew0KICAiQ29tcGFueUlkIjogNSwNCiAgIkNvbXBhbnlOYW1lIjogIk1vZGVyZSIsDQogICJDb21wYW55S2V5IjogIk1vZGVyZSIsDQogICJVc2VybmFtZSI6ICJNb2RlcmVfTWFrb1J1bm5lcl83YWI3ZjUzMC0wZDI2LTQyYjgtYjVmZi1mYmZmZTVkYiIsDQogICJQd2QiOiAiMkI4VzlLaTNYa1ZwZ2R1OXc1eStxMnlQWFNBM0E3cytVQTA0QUdjQ2doMEg4ZVk5ZzZJV09RPT0iLA0KICAiQ3J5cHRLZXkiOiAibWppdmdaSVFDMmFTNmk2eC9lUEFidTBSR01iM1J5cjVHUXZsRHhRblpSOD0iLA0KICAiQXV0aEtleSI6ICJ1cmxET1R3emhyUVdPbXppTTUzOUNlM2pDMnU5OWhWbGhMcEsweDBZaXZZPSINCn0=" />
    <add key="CompanyId11" value="ew0KICAiQ29tcGFueUlkIjogMTEsDQogICJDb21wYW55TmFtZSI6ICJSU29sdXRpb24iLA0KICAiQ29tcGFueUtleSI6ICJSU29sIiwNCiAgIlVzZXJuYW1lIjogIlJTb2x1dGlvbl9NYWtvUnVubmVyX0E0ODQyODc0LUI1RUQtNEFFNS1BN0M0LTBFNDgiLA0KICAiUHdkIjogImJ6cGJlM2xCSnpYR2IrOVQyZTlkc2UzOUtMOVdNSGowYUN4TmZualp6SGk3ZzdFdEI4TzlYQT09IiwNCiAgIkNyeXB0S2V5IjogInk3eXl2cGJzYkFMOTdmR0FRanB5VTEzbWx4THVMU1ZGNFZHbDVSRVVKVWM9IiwNCiAgIkF1dGhLZXkiOiAiWEFVbExUY2ZDaTVSNU9uelhxaHpTQjBJdEFVQ3NCeSt4T1h2cHBEWlBFND0iDQp9" />
    <add key="CompanyId1000" value="ew0KICAiQ29tcGFueUlkIjogMTAwMCwNCiAgIkNvbXBhbnlOYW1lIjogIkpha2UiLA0KICAiQ29tcGFueUtleSI6ICJKYWtlIiwNCiAgIlVzZXJuYW1lIjogIkpha2VEQl9NYWtvUnVubmVyXzc5Zjc0NTQ0LTNjYTMtNDBkOS1hYjZmLWRjMzU5OWVmIiwNCiAgIlB3ZCI6ICJDSTRRUmNSSjFJQ3pUMk5vL3YybFNZTFM3bFkwQ0tkb3c2dVdnb0xCa0xvbmhTT251SjkvT1E9PSIsDQogICJDcnlwdEtleSI6ICIwZ0F1V3g2NXZUTDhzWExZVVMyNXNzaXp1dCtvQk9LQzQ0clZvS1YxU2xnPSIsDQogICJBdXRoS2V5IjogIktUMU85d2pjOVZZRXVrRGREWEZONm1aRGhwUEZIUkUrQ25JRkJKOWFQYXM9Ig0KfQ==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Insight.Database.Configuration" publicKeyToken="f35c6ef87e515afc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.3.0" newVersion="6.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Insight.Database.Providers.Default" publicKeyToken="f35c6ef87e515afc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.3.0" newVersion="6.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TeqTank.Services.MakoRunnerConsolidated.Properties.Settings>
      <setting name="HelpCommand" serializeAs="String">
        <value>help</value>
      </setting>
      <setting name="ExitCommand" serializeAs="String">
        <value>exit</value>
      </setting>
    </TeqTank.Services.MakoRunnerConsolidated.Properties.Settings>
  </applicationSettings>
</configuration>